#cloud-config
runcmd:
  - 'curl -sfL https://get.k3s.io | INSTALL_K3S_CHANNEL="${k3s_channel}" INSTALL_K3S_EXEC="server --disable=servicelb --disable=traefik --disable-cloud-controller --write-kubeconfig-mode 644 --tls-san ${public_ip}" sh -'
