# openstack subnet list --long   ->   ID = subnet_id, Network = network_id
network_id = "a2d7c9f1-7fd9-4943-af53-352538943ab3"
subnet_id  = "c6e0eba4-17aa-4e16-9522-76a12969deb7"
# openstack router list (VPC id), optional
vpc_id = ""

availability_zone = "eu-de-01"
# Restrict SSH/API access to your IP if desired:
#admin_cidr = "1.2.3.4/32"
